<h1>Friends Index</h1>
<h2>Total friends: {{model.length}}</h2>

<ul>
	{{#each model as |friend|}}
		<li>
			{{#link-to 'friends.show' friend}}
				{{friend.firstName}} {{friend.lastName}}
			{{/link-to}}
		</li>
	{{/each}}
</ul>